$text-light: #8D8F92;
$white: #FFFFFF;
$text-dark: #292F36;
$text-menu: #A4AEAD;
$bgr-dark: #3A454D;
$bgr-light: #e1e6ea;
$portfolio-footer-bgr: #292f36;
$border-left-light: #E1E6EA;
$border-left-dark: #4E5A62;
$bright-color: #23B7A4;

$base_border_radius: 3px;
